@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    grid-area: 1 / 1 / 2 / 5;
    background-color: red;
}

div.caixa2 {
    grid-area: 2 / 1 / 4 / 3;
    background-color: green;
}

div.caixa3 {
    grid-area: 2 / 3 / 4 / 5;
    background-color: blue;
}